@model Bus;

@{
    Layout = null;
    string photo = ViewBag.photo as string;
   
    //var drivers = TempData.Peek("Drivers") as List<Driver>;
}
<head>
    <link rel="stylesheet" href="/assets3/css/style.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <style>

        img {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            justify-content: center;
        }

        .upload {
            display: block;
            width: 150;
            background: #e3362c;
            color: #fff;
            padding: 12px;
            margin: 10px auto;
            border-radius: 5px;
            cursor: pointer;
        }

        }

        span.formwarn {
            color: red !important;
            font-size: 13px;
        }

        danger {
            color: red !important;
            font-size: 13px;
        }
    </style>
</head>
<body>


    <main class="page-center">
        <article class="sign-up">
            <h1 class="sign-up__title">Add New Bus</h1>
            <form class="sign-up-form form" asp-action="Update_Add" asp-controller="Bus" asp-route-id="@Model.BusId" method="post" enctype="multipart/form-data">
                <span id="photo_valid" style="color:red;margin-bottom:10px">@photo</span>
                <div class="form-label-wrapper" style="display: block; text-align: center;justify-content:center">
                    <img id="image" src="@Model.Driver" />
                    <input type="file" accept="image/jpeg, image/png, image/jpg" id="photo" name="photo" class="form-input" required oninput="updateTargetInput(this.value)" onchange="displaySelectedImage(this);" style="display:none" />
                    <label class="upload" for="photo">Uplaod Image</label>

                </div>


                <div class="form-label-wrapper">
                    <label asp-for="BusModel" class="text-black">Model<span class="danger">*</span></label>
                    <input asp-for="@Model.BusModel" class="form-input" oninput="globalEval.trim()" />
                    <span asp-validation-for="BusModel" style="color:red"></span>
                </div>

                <div class="form-label-wrapper">
                    <label asp-for="NumberOfSeats" class="text-black">Number Of Seats<span style="color:red">*</span></label>
                    <input asp-for="@Model.NumberOfSeats" min="1" class="form-input" type="number" />
                    <span asp-validation-for="NumberOfSeats" style="color:red"></span>
                </div>

                <div class="form-label-wrapper">
                    <label class="text-black">Air Conditioning</label>
                    <select asp-for="@Model.AirConditioningAvailable" class="form-input" required>
                        <option value="">Select</option>
                        <option value="true">Available</option>
                        <option value="false">Not Available</option>
                    </select>
                    <span asp-validation-for="AirConditioningAvailable" style="color:red"></span>
                </div>

                <div class="form-label-wrapper">
                    <label class="text-black">Wifi Available</label>
                    <select asp-for="@Model.WifiAvailable" class="form-input" required>
                        <option value="">Select</option>
                        <option value="true">Available</option>
                        <option value="false">Not Available</option>
                    </select>
                    <span asp-validation-for="WifiAvailable" style="color:red"></span>
                </div>

                <div class="form-label-wrapper">
                    <label class="text-black">Restroom Available</label>
                    <select asp-for="@Model.RestroomAvailable" class="form-input" required>
                        <option value="">Select</option>
                        <option value="true">Available</option>
                        <option value="false">Not Available</option>

                    </select>
                    <span asp-validation-for="RestroomAvailable" style="color:red"></span>
                </div>

                <div class="form-label-wrapper">
                    <label asp-for="DriverId" class="text-black">Driver Id</label>
                    <select asp-for="@Model.DriverId" class="form-input" required>
                        <option value="1">Select</option>
                        @foreach (var driver in Drivers)
                                {
                                    <option value="@driver.DriverId">ID: @driver.DriverId, Name: @driver.Fisrt_name @driver.Last_name</option>
                                }
                          

                    </select>
                    <span asp-validation-for="DriverId" style="color:red"></span>
                </div>

                <div>
                    <span asp-validation-summary="All" style="color:red"></span>
                </div>
                <br />

                <button class="form-btn primary-default-btn transparent-btn" style="background-color:orange">Update Bus</button>
            </form>

        </article>
    </main>

    <script src="~/assets3/plugins/chart.min.js"></script>
    <!-- Icons library -->
    <script src="~/assets3/plugins/feather.min.js"></script>
    <!-- Custom scripts -->
    <script src="~/assets3/js/script.js"></script>


    <script src="~/lib/jquery/dist/jquery.js">  </script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js">  </script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script>


        function displaySelectedImage(input) {
            if (input.files && input.files[0]) {
                document.getElementById('image').src = URL.createObjectURL(input.files[0]);
            }
        }

        function updateTargetInput(value) {
            // Check if the string ends with ".jpg", ".png", or ".jpeg" (case-insensitive)
            if (value.toLowerCase().endsWith(".jpg") || value.toLowerCase().endsWith(".png") || value.toLowerCase().endsWith(".jpeg")) {
                document.getElementById("photo_valid").innerHTML = "";

            } else {
                //console.log("You must Upload an Image");
                document.getElementById("photo_valid").innerHTML = "You must Upload an Image Format (.jpg - .png - .jpeg ) ";
            }
        }

    </script>

</body>