@model Trip
@using Newtonsoft.Json;
@{
    
    var stationsJson = TempData["Stations"]?.ToString();
    var busesJson = TempData["Bus"]?.ToString();

    var Stations = JsonConvert.DeserializeObject<List<Station>>(stationsJson!);
    var Buses = JsonConvert.DeserializeObject<List<Bus>>(busesJson!);
    Layout = null;
}

<head>
    <link rel="stylesheet" href="/assets3/css/style.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <style>
        img {
            width: 180px;
            height: 180px;
            border-radius: 50%;
        }

        .upload {
            display: block;
            width: 150px;
            background: #e3362c;
            color: #fff;
            padding: 12px;
            margin: 10px auto;
            border-radius: 5px;
            cursor: pointer;
        }

        span.formwarn, danger {
            color: red !important;
            font-size: 13px;
        }
    </style>
</head>
<body>
    <main class="page-center">
        <article class="sign-up">
            <h1 class="sign-up__title">Add New Trip</h1>
            <form class="sign-up-form form" asp-action="Valid_Add" asp-controller="Trip" method="post" enctype="multipart/form-data">

                <div class="form-label-wrapper">
                    <label asp-for="DepartureTime" class="text-black">Departure Time<span class="formwarn">*</span></label>
                    <input asp-for="DepartureTime" class="form-input" type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" required />
                    <span asp-validation-for="DepartureTime" style="color:red"></span>
                </div>

                <div class="form-label-wrapper">
                    <label asp-for="ArrivalTime" class="text-black">Arrival Time<span class="formwarn">*</span></label>
                    <input asp-for="ArrivalTime" class="form-input" type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" required />
                    <span asp-validation-for="ArrivalTime" style="color:red"></span>
                </div>

                <div class="form-label-wrapper">
                    <label asp-for="TripPrice" class="text-black">Trip Price<span class="formwarn">*</span></label>
                    <input asp-for="TripPrice" min="1" class="form-input" required />
                    <span asp-validation-for="TripPrice" style="color:red"></span>
                </div>

                <div class="form-label-wrapper">
                    <label asp-for="DepartureStationID" class="text-black">Departure Station<span class="formwarn">*</span></label>
                    <!-- Replace with your own logic for selecting Departure City -->
                    <select asp-for="DepartureStationID" class="form-input" required>
                        <option value="">Select</option>
                        @foreach (var station in Stations)
                        {
                            <option value="@station.StationId">@station.StationName On City : @station.StationCity</option>
                        }
                    </select>
                    <span asp-validation-for="DepartureStationID" style="color:red"></span>
                </div>

                <div class="form-label-wrapper">
                    <label asp-for="ArrivalStationID" class="text-black">Arrival Station<span class="formwarn">*</span></label>
                    <!-- Replace with your own logic for selecting Arrival City -->
                    <select asp-for="ArrivalStationID" class="form-input" required>
                        <option value="">Select</option>
                        @foreach (var station in Stations)
                        {
                            <option value="@station.StationId">@station.StationName On City : @station.StationCity</option>
                        }
                        <!-- Add options dynamically based on your logic -->
                    </select>
                    <span asp-validation-for="ArrivalStationID" style="color:red"></span>
                </div>

                <div class="form-label-wrapper">
                    <label asp-for="BusId" class="text-black">Bus Trip<span class="formwarn">*</span></label>
                    <!-- Replace with your own logic for selecting Bus ID -->
                    <select asp-for="BusId" class="form-input" required>
                        <option value="">Select</option>
                        @foreach (var bus in Buses)
                        {
                            <option value="@bus.BusId"> Model : @bus.BusModel a</option>
                        }
                    </select>
                    <span asp-validation-for="BusId" style="color:red"></span>
                </div>

                <div>
                    <span asp-validation-summary="All" style="color:red"></span>
                </div>
                <br />

                <button class="form-btn primary-default-btn transparent-btn">Add Trip</button>
            </form>
        </article>
    </main>

    <script src="~/assets3/plugins/chart.min.js"></script>
    <!-- Icons library -->
    <script src="~/assets3/plugins/feather.min.js"></script>
    <!-- Custom scripts -->
    <script src="~/assets3/js/script.js"></script>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script>
    </script>
</body>
