@model List<Trip>
@using Newtonsoft.Json;
@{
    Layout = null;
    var station = TempData["trips"]?.ToString();
    var routeDictionary = JsonConvert.DeserializeObject<Dictionary<int, string>>(station);
    //Extract station names from the dictionary values
    //var stationNames = routeDictionary?.Values.ToList();
}
<head>

    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/vendors/linericon/style.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/assets/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="/assets/vendors/owl-carousel/owl.carousel.min.css">
    <!-- main css -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <link href="/assets2/css/style.css" rel="stylesheet">

    <style>
        .banner_area {
            background: #04091e;
            position: relative;
            z-index: 1;
        }

        .bg-parallax {
            background: url("/imgs/trip.jpg") no-repeat scroll center / cover !important;
            opacity: 0.50;
        }


        .position {
            width: 100%;
            bottom: 0;
            left: 0;
            position: absolute;
        }

        btn:hover {
            opacity: 0.50 !important;
            transform: scale(1.1);
        }

        .container {
            display: block;
            text-decoration: none;
        }

        .card {
            display: flex;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-left: 50px;
            margin-bottom: 50px;
            display: block;
            justify-content: center;
        }

        h1 {
            color: #04091e;
        }

        .trip-detail {
            margin-bottom: 10px;
        }

        label {
            font-weight: bold;
            color: #555;
        }

        /* Dynamic styles */
        .trip-detail span {
            color: orange;
            font-weight: bold;
        }

        /* Attractive styles */
        .trip-detail:nth-child(odd) {
            background-color: #f1f1f1;
        }

        .btn {
            background-color: #04091e;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            margin-right: 10px;
            transition: background-color 0.3s;
        }

        .dander {
            background-color: red;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            margin-right: 10px;
            transition: background-color 0.3s;
        }

        .btn:hover {
            background-color: #333;
        }
    </style>
</head>
<body>
    <div>
        @foreach (var trip in Model)
        {
            <div class="card">
                <h1>Trip Details</h1>
                <div class="trip-detail">
                    <label for="departureTime">Departure Time:</label>
                    <span>@trip.DepartureTime</span>
                </div>
                <div class="trip-detail">
                    <label for="arrivalTime">Arrival Time:</label>
                    <span>@trip.ArrivalTime</span>
                </div>
                <div class="trip-detail">
                    <label for="tripPrice">Trip Price:</label>
                    <span>@trip.TripPrice</span>
                </div>
                <div class="trip-detail">
                    <label for="departureStation">Departure Station:</label>
                    <span>@routeDictionary[trip.DepartureStationID]</span>
                </div>
                <div class="trip-detail">
                    <label for="arrivalStation">Arrival Station:</label>
                    <span>@routeDictionary[trip.ArrivalStationID]</span>
                </div>
                <div class="trip-detail">
                    <label for="busId">Bus ID:</label>
                    <span>@trip.BusId</span>
                </div>
                <div class="row" style="justify-content:center">
                    <div class="col-4">
                        <a class="book_now_btn button_hover" asp-controller="Trip" asp-action="Update" asp-route-id="@trip.TripId">Book </a>
                    </div>

                </div>

            </div>

        }
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="~/assets3/plugins/feather.min.js"></script>
    <script src="~/assets3/js/script.js"></script>
    <script src="~/assets3/bootstrap/js/bootstrap.min.js"></script>
    <!-- Chart library -->
    <script src="~/assets3/plugins/chart.min.js"></script>
    <!-- Icons library -->
    <script src="~/assets3/plugins/feather.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js">  </script>
    <script src="~/lib/jquery/dist/jquery.min.js">  </script>

    <script>
       
    </script>

</body>
    <!-- Custom scripts -->