@model User;
@{
    var trips = @Model.orders.SelectMany(order => order.Items)
                                 .Select(item => item.TripId)
                            .Distinct()
                            .Count();
    var tickets = @Model.orders.SelectMany(order => order.Items)
             .Sum(item => item.quantity);

    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="icon" href="/assets/image/favicon.png" type="/assets/image/png">
  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="./img/svg/logo.svg" type="image/x-icon">
    <!-- Custom styles -->
    <link rel="stylesheet" href="/assets3/css/style.min.css">
    <style>
        .sidebar.green-background {
            background-color: #198754 !important;
        }



        btn:hover {
            opacity: 0.50 !important;
            transform: scale(1.1);
        }

        .container {
            display: block;
            text-decoration: none;
        }

        .card {
            display: flex;
            max-width:70%;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin: 3%;
            margin-bottom: 50px;
            display: block;
            justify-content: center;
        }

        h1 {
            color: #04091e;
        }

        .trip-detail {
            margin-bottom: 10px;
        }

        label {
            font-weight: bold;
            color: #555;
        }

        /* Dynamic styles */
        .trip-detail span {
            color: orange;
            font-weight: bold;
        }

        /* Attractive styles */
        .trip-detail:nth-child(odd) {
            background-color: #f1f1f1;
        }

        .btn {
            background-color: #04091e;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            margin-right: 10px;
            transition: background-color 0.3s;
        }

        .dander {
            background-color: red;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            margin-right: 10px;
            transition: background-color 0.3s;
        }

        .btn:hover {
            background-color: #333;
        }

    </style>
</head>
<body>
    <div class="layer"></div>
    <!-- ! Body -->
    <div class="page-flex">
        <!-- ! Sidebar -->
        <aside class="sidebar" style="background-color:#11111d">
            <div class="sidebar-start">
                <div class="sidebar-head">
                    <a asp-action="Index" asp-controller="Home" class="logo-wrapper" title="Home">
                        <span class="sr-only">Home</span>
                        <span class="icon logo" aria-hidden="true"></span>
                        <div class="logo-text">
                            <span class="logo-title">ZBUS</span>
                            <span class="logo-subtitle">Dashboard</span>
                        </div>
                    </a>
                    <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
                        <span class="sr-only">Toggle menu</span>
                        <span class="icon menu-toggle" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="sidebar-body">
                    <ul class="sidebar-body-menu">
                        <li>
                            <a class="active" onclick="Profile(1)"><span class="icon home" aria-hidden="true"></span>Dashboard</a>
                        </li>
                        <a onclick="Profile(2)">
                            <span class="icon setting" aria-hidden="true"></span>Personal Data
                        </a>
                        </li>
                        <li>
                            <a onclick="Profile(3)">
                                <span class="icon setting" aria-hidden="true"></span>Password
                            </a>
                        </li>
                        <li>
                            <a asp-action="Logout">
                                <span src="/imgs/logout.png" aria-hidden="true"></span>Logout
                            </a>
                        </li>
                </div>
            </div>
        </aside>

        <div class="main-wrapper">
            <!-- ! Main nav -->
            <nav class="main-nav--bg" style="display:flex !important">
                <div class="container main-nav">
                    <div class="main-nav-end" style="display:flex !important">
                        <button onclick="change()" type="button">
                            <span class="sr-only">Switch theme</span>
                            <i class="sun-icon" data-feather="sun" aria-hidden="true"></i>
                            <i class="moon-icon" data-feather="moon" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </nav>
            <div id="partialViewContainer">
                <div style="display:flex;margin:3%">
                    <div class="col-md-6 col-xl-3">
                        <article class="stat-cards-item">
                            <div class="stat-cards-icon warning">
                                <i data-feather="file" aria-hidden="true"></i>
                            </div>
                            <div class="stat-cards-info">
                                <p class="stat-cards-info__num">@Model.orders.Count()</p>
                                <p class="stat-cards-info__title">Payment Number</p>
                                <p class="stat-cards-info__progress">
                                    <span class="stat-cards-info__profit success">
                                        <i data-feather="trending-up" aria-hidden="true"></i>0.24%
                                    </span>

                                </p>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <article class="stat-cards-item">
                            <div class="stat-cards-icon purple">
                                <i data-feather="file" aria-hidden="true"></i>
                            </div>
                            <div class="stat-cards-info">
                                <p class="stat-cards-info__num">@tickets</p>
                                <p class="stat-cards-info__title">Total Tickets</p>
                                <p class="stat-cards-info__progress">
                                    <span class="stat-cards-info__profit danger">
                                        <i data-feather="trending-down" aria-hidden="true"></i>1.64%
                                    </span>

                                </p>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <article class="stat-cards-item">
                            <div class="stat-cards-icon success">
                                <i data-feather="feather" aria-hidden="true"></i>
                            </div>
                            <div class="stat-cards-info">
                                <p class="stat-cards-info__num">@trips</p>
                                <p class="stat-cards-info__title">Total Trips</p>
                                <p class="stat-cards-info__progress">
                                    <span class="stat-cards-info__profit warning">
                                        <i data-feather="trending-up" aria-hidden="true"></i>0.00%
                                    </span>

                                </p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="row" style="margin:3%">
                    <div class="col-lg-9">
                        <div class="chart">
                            <canvas id="myChart" aria-label="Site statistics" role="img"></canvas>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <article class="customers-wrapper" style="background-color:white">
                            <canvas id="myChart2" aria-label="Site statistics" role="img"></canvas>
                        </article>
                        
                    </div>
                </div>


                <p class="stat-cards-info__num" style="font-size:40px!important;margin-left:28%">Transactions</p>

                        @foreach (var trip in Model.orders)
                        {
                            <div class="card">
                                <h1 class="col" style="justify-content:center;text-align:center">Transaction</h1>

                                <div class="trip-detail">
                                    <label for="departureTime">Tickets :  </label>
                                    <span>@trip.Items.Sum(q => q.quantity)</span>
                                </div>

                                @foreach (var item in trip.Items)
                                {
                                    <div class="trip-detail">
                                        <label for="departureTime">Departure Date:</label>
                                        <span>@item.Trip.DepartureTime.ToString("dd/MM/yyyy")</span>
                                        <span> On @item.Trip.DepartureTime.DayOfWeek</span>
                                    </div>
                                    <div class="trip-detail">
                                        <label for="departureTime">Departure Time:</label>
                                        <span>@item.Trip.DepartureTime.ToString("h:mm tt")</span>
                                    </div>
                                    <div class="trip-detail">
                                        <label for="arrivalTime">Arrival Date:</label>
                                        <span>@item.Trip.ArrivalTime.ToString("dd/MM/yyyy")</span>
                                        <span> On @item.Trip.ArrivalTime.DayOfWeek</span>
                                    </div>
                                    <div class="trip-detail">
                                        <label for="arrivalTime">Arrival Time:</label>
                                        <span>@item.Trip.ArrivalTime.ToString("h:mm tt")</span>
                                    </div>
                                    <div class="trip-detail">
                                        <label for="tripPrice">Trip Price:</label>
                                        <span>@(item.Trip.TripPrice * @item.quantity)</span>
                                    </div>
                                    <div class="trip-detail">
                                        <label for="departureStation">Departure Station:</label>
                                        <span>@item.Trip.DepartureStation.StationName</span>
                                    </div>
                                    <div class="trip-detail">
                                        <label for="arrivalStation">Arrival Station:</label>
                                        <span>@item.Trip.ArrivalStation.StationName</span>
                                    </div>
                                }
                            </div>
                        }

                        </div>
                <!-- dash --!>

                    </div>
                </div>
           </div>


                <!-- Chart library -->
                <script src="~/assets3/plugins/chart.min.js"></script>
                <!-- Icons library -->
                <script src="~/assets3/plugins/feather.min.js"></script>
                <!-- Custom scripts -->
                <script src="~/assets3/js/script.js"></script>
                <script src="~/assets3/lib/jquery/dist/jquery.min.js"></script>
                <script src="~/assets3/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                <script src="~/assets3/js/site.js" asp-append-version="true"></script>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script src="~/lib/jquery/dist/jquery.js"></script>
                <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
                <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

                <script>


                    var chartData = {
                        labels: ['Payment Number', 'Tickets', 'Trips',],
                        datasets: [{
                            label: 'Differences',
                            data: [@Model.orders.Count(), @tickets, @trips]
                        }]
                    };
                    // Function to enable dark mode
                    function enableDarkMode() {
                        //    document.getElementsByClassName("sidebar")[0].setAttribute("style", "background-color: #198754");

                        document.body.classList.add('darkmode');
                        localStorage.setItem('darkMode', 'enabled');

                    }

                    // Function to disable dark mode
                    function disableDarkMode() {
                        document.body.classList.remove('darkmode');
                        localStorage.setItem('darkMode', null);
                        //  document.getElementsByClassName("sidebar")[0].setAttribute("style", "background-color: #198754 !important;");

                    }

                    // Function to toggle dark mode
                    function change() {
                        //    preventdefault();
                        let darkMode = localStorage.getItem('darkMode');
                        if (darkMode !== 'enabled') {
                            enableDarkMode();
                        } else {
                            disableDarkMode();
                        }
                    }

                    // Apply dark mode on page load based on the value in localStorage
                    document.addEventListener('DOMContentLoaded', (event) => {
                        let darkMode = localStorage.getItem('darkMode');
                        if (darkMode !== 'enabled') {
                            enableDarkMode();
                        }
                    });



                    // Get the canvas element
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var ctx2 = document.getElementById('myChart2').getContext('2d');



                    // Create the chart
                    var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: chartData
                    });
                    var myChart2 = new Chart(ctx2, {
                        type: 'polarArea',
                        data: chartData
                    });


                    function search() {

                        var query = $('#search').val();
                        $.ajax({
                            url: "/Bus/search",
                            type: "Get",
                            data: { query: query },
                            success: function (response) {
                                $("#partialViewContainer").html(response); // Update the container with the partial view
                            },
                            error: function (error) {
                                console.error("Error:", error);
                            }
                        });


                    }




                    function Profile(type) {
                        let path = "";

                        if (type == 2) {
                            path = "/User/Update_Data";
                        } else if (type == 3) {
                            path = "/User/Update_Pass";
                        }
                        else if (type == 1) {
                            window.location.href = "/User/Account";
                            return;
                        }

                        $.ajax({
                            url: path,
                            type: "GET",
                            success: function (response) {
                                $("#partialViewContainer").html(response); // Update the container with the partial view
                            },
                            error: function (error) {
                                console.error("Error:", error);
                            }
                        });
                    }
                </script>

</body>

