@model AdminViewModel;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="./img/svg/logo.svg" type="image/x-icon">
    <!-- Custom styles -->
    <link rel="stylesheet" href="/assets3/css/style.min.css">
    <style>
        .sidebar.green-background {
            background-color: #198754 !important;
        }

    </style>
</head>
<body>
    <div class="layer"></div>
    <!-- ! Body -->
    <div class="page-flex">
        <!-- ! Sidebar -->
        <aside class="sidebar" style="background-color:#11111d">
            <div class="sidebar-start">
                <div class="sidebar-head">
                    <a asp-action="Index" asp-controller="Home" class="logo-wrapper" title="Home">
                        <span class="sr-only">Home</span>
                        <span class="icon logo" aria-hidden="true"></span>
                        <div class="logo-text">
                            <span class="logo-title">ZBUS</span>
                            <span class="logo-subtitle">Dashboard</span>
                        </div>
                    </a>
                    <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
                        <span class="sr-only">Toggle menu</span>
                        <span class="icon menu-toggle" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="sidebar-body">
                    <ul class="sidebar-body-menu">
                        <li>
                            <a asp-action="Admin" asp-controller="User" id ="Dashboard" >
                                <span class="icon home" aria-hidden="true"></span>Dashboard
                            </a>
                        </li>
                        <li>
                            <a class="show-cat-btn" onclick="loadPartialViewBtn(1)" id="Bus">
                                <span class="icon document" aria-hidden="true"></span>Bus
                            </a>
                        </li>
                        <li>
                            <a class="show-cat-btn" onclick="loadPartialViewBtn(2)" id="Driver">
                                <span class="icon document" aria-hidden="true"></span>Driver
                            </a>
                        </li>
                        <li>
                            <a class="show-cat-btn" onclick="loadPartialViewBtn(3)" id ="Station">
                                <span class="icon document" aria-hidden="true"></span>Station
                            </a>
                        </li>
                        <li>
                            <a class="show-cat-btn" onclick="loadPartialViewBtn(4)" id="Trip">
                                <span class="icon document" aria-hidden="true"></span>Trip
                            </a>
                        </li>
                    </ul>

                    <span class="system-menu__title">System</span>
                    <ul class="sidebar-body-menu">
                        <li>
                            <a onclick="Profile(5)" id="PersonalData">
                                <span class="icon setting" aria-hidden="true"></span>Personal Data
                            </a>
                        </li>
                        <li>
                            <a onclick="Profile(6)" id="Password">
                                <span class="icon setting" aria-hidden="true"></span>Password
                            </a>
                        </li>
                        <li>
                            <a asp-action="Logout">
                                <span src="/imgs/logout.png" aria-hidden="true"></span>Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>

        <div class="main-wrapper">
            <!-- ! Main nav -->
            <nav class="main-nav--bg" style="display:flex !important">
                <div class="container main-nav">
                    <div class="main-nav-end" style="display:flex !important">
                        <button onclick="change()" type="button">
                            <span class="sr-only">Switch theme</span>
                            <i class="sun-icon" data-feather="sun" aria-hidden="true"></i>
                            <i class="moon-icon" data-feather="moon" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </nav>
            <div id="partialViewContainer">
                @if (Model.Id == 0)
                {
                    @Html.Partial("_PartialviewDashbord", Model)
                }
                else if (Model.Id == 1)
                {
                    @Html.Partial("_PartialviewBus", Model.Buses)
                }
                else if (Model.Id == 2)
                {
                    @Html.Partial("_PartialviewDriver", Model.Drivers)
                }
                else if (Model.Id == 3)
                {
                    @Html.Partial("_PartialviewStation", Model.Stations)
                }
                else if (Model.Id == 4)
                {
                    @Html.Partial("_PartialviewTrip", Model.Trips)
                }
                else if (Model.Id == 5)
                {
                    @Html.Partial("Update_Data", Model.Trips)
                }
                else if (Model.Id == 6)
                {
                    @Html.Partial("Update_Pass", Model.Trips)
                }
            </div>
        </div>
    </div>

    <!-- Chart library -->
    <script src="~/assets3/plugins/chart.min.js"></script>
    <!-- Icons library -->
    <script src="~/assets3/plugins/feather.min.js"></script>
    <!-- Custom scripts -->
    <script src="~/assets3/js/script.js"></script>
    <script src="~/assets3/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/assets3/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets3/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script>
        // Function to enable dark mode
        function enableDarkMode() {
            //    document.getElementsByClassName("sidebar")[0].setAttribute("style", "background-color: #198754");

            document.body.classList.add('darkmode');
            localStorage.setItem('darkMode', 'enabled');

        }

        // Function to disable dark mode
        function disableDarkMode() {
            document.body.classList.remove('darkmode');
            localStorage.setItem('darkMode', null);
            //  document.getElementsByClassName("sidebar")[0].setAttribute("style", "background-color: #198754 !important;");

        }

        // Function to toggle dark mode
        function change() {
            //    preventdefault();
            let darkMode = localStorage.getItem('darkMode');
            if (darkMode !== 'enabled') {
                enableDarkMode();
            } else {
                disableDarkMode();
            }
        }

        // Apply dark mode on page load based on the value in localStorage
        document.addEventListener('DOMContentLoaded', (event) => {
            let darkMode = localStorage.getItem('darkMode');
            if (darkMode !== 'enabled') {
                enableDarkMode();
            }
        });



        // Get the canvas element
        var ctx = document.getElementById('myChart').getContext('2d');
        var ctx2 = document.getElementById('myChart2').getContext('2d');



        // Create the chart
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: chartData
        });
        var myChart2 = new Chart(ctx2, {
            type: 'polarArea',
            data: chartData
        });
        function loadPartialViewBtn(id) {
            var path = " ";
            if (id == 1) { path = "/Bus/Details"; }
            else if (id == 2) { path = "/Driver/Index"; }
            else if (id == 3) { path = "/Station/Index"; }
            else if (id == 4) { path = "/Trip/Index"; }
            $.ajax({
                url: path,
                type: "Get",
                success: function (response) {
                    $("#partialViewContainer").html(response); // Update the container with the partial view
                },
                error: function (error) {
                    console.error("Error:", error);
                }
            });
        }

        function search() {

            var query = $('#search').val();
            $.ajax({
                url: "/Bus/search",
                type: "Get",
                data: { query: query },
                success: function (response) {
                    $("#partialViewContainer").html(response); // Update the container with the partial view
                },
                error: function (error) {
                    console.error("Error:", error);
                }
            });


        }




        function Profile(type) {
            let path = "";

            if (type == 5) {
                path = "/User/Update_Data";
            } else if (type == 6) {
                path = "/User/Update_Pass";
            }

            $.ajax({
                url: path,
                type: "GET",
                success: function (response) {
                    $("#partialViewContainer").html(response); // Update the container with the partial view
                },
                error: function (error) {
                    console.error("Error:", error);
                }
            });
        }


    </script>

</body>

