@model List<Bus> 
@{
    Layout=null;
}
<head>
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/vendors/linericon/style.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/assets/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="/assets/vendors/owl-carousel/owl.carousel.min.css">
    <!-- main css -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <link href="/css/site.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  
    <link href="/assets2/css/style.css" rel="stylesheet">

    <style>
        .banner_area {
            background: #04091e;
            position: relative;
            z-index: 1;
        }

        .bg-parallax {
            background: url("/imgs/busses.jpg") no-repeat scroll center / cover !important;
            opacity: 0.50;
        }


        .position {
            width: 100%;
            bottom: 0;
            left: 0;
            position: absolute;
        }

        btn:hover
        {
            opacity: 0.50 !important;
            transform: scale(1.1);
        }

    </style>
</head>
<body>  
   
    <div class="banner_area">
        <div class="booking_table d_flex align-items-center">

            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background="">
            </div>
            <div class="container">
               
            <div class="banner_content text-center">
                <h2>Welcome To Bus Managment Board </h2>
                <h3>You Can Add Delete And Update Buses Status</h3>
               <a asp-action="Add" asp-controller="Bus" class="btn btn-secondary me-2" > Add Bus</a>
            </div>
        </div>
        </div>

    </div>

        <div class="row mb-5" >
            <form class="col-md-12" method="post">
                <div class="site-blocks-table">
                    <table class="table">
                        <thead>
                            <tr>
                            <th class="stat-cards-info__num"> Image</th>
                            <th class="stat-cards-info__num">Model OF Bus</th>
                            <th class="stat-cards-info__num">Number Of Seats</th>
                            <th class="stat-cards-info__num">Wifi Available </th>
                            <th class="stat-cards-info__num">Update</th>
                            <th class="stat-cards-info__num">Remove</th>
                            </tr>
                        </thead>
                    
        @foreach (var bus in @Model)
                        {
                        <main class="popup" id="popup" style="justify-content:center; align-items: center;">
                            <h2>Hello!</h2>
                            <p style="font-size:15px">THe bus is already in Trip Try later!</p>
                            <button type="button" onclick="closePopup()">OK</button>
                        </main>
                            <tbody>
                                <tr>
                                    <td class="product-thumbnail">
                                        <img src="@bus.BusPicture" alt="Image" class="img-fluid">
                                    </td>
                                    <td class="product-name">
                                    <h2 class="stat-cards-info__num">@bus.BusModel</h2>
                                    </td>
                                <td class="stat-cards-info__num">
                                        @bus.NumberOfSeats
                                    </td>

                                    @if (@bus.WifiAvailable == true)
                                    {


                                   
                                    <td class="stat-cards-info__num"> Not Avaliable </td>
                                  
                                    }
                                    else
                                    {
                                    <td class="stat-cards-info__num"> Avaliable </td>
                                    }

                                <td><a asp-action="Update" asp-controller="Bus" asp-route-id="@bus.BusId" class="btn" style="background-color:darkorange !important">Update</a></td>
                                <td><a onclick="openPopup(@bus.BusId)" class="btn" style="background-color:darkred !important">X</a></td>
                                </tr>
                            </tbody>
                        }
                    </table>
                  </div>
                </form>
              </div>


    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/popper.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/assets/js/mail-script.js"></script>
    <script src="~/assets/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="~/assets/vendors/nice-select/js/jquery.nice-select.js"></script>
    <script src="~/assets/js/mail-script.js"></script>
    <script src="~/assets/js/stellar.js"></script>
    <script src="~/assets/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>

        function openPopup(id) {
            $.ajax({
                url: "/Bus/Delete",
                data: { id: id },
                type: "post",
                success: function (response) {
                    
                    if (response.loggedIn === false) {
                        let popup = document.getElementById("popup");
                        popup.classList.add("open-popup");
                    }
                   
                },
                error: function (error) {
                    console.error("Error:", error);
                }
            });
        }


        function closePopup() {
            let popup = document.getElementById("popup");
            popup.classList.remove("open-popup");
        }

    </script>
</body>

