@model AdminViewModel;
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZBUS</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="./img/svg/logo.svg" type="image/x-icon">
    <!-- Custom styles -->
    <link rel="stylesheet" href="/assets3/css/style.min.css">
</head>

<main class="main users chart-page" id="partialViewContainer">
    <div class="container">
        <h2 class="main-title">Dashboard</h2>
        <div class="row stat-cards">
            <div class="col-md-6 col-xl-3">
                <article class="stat-cards-item">
                    <div class="stat-cards-icon primary">
                        <i data-feather="bar-chart-2" aria-hidden="true"></i>
                    </div>
                    <div class="stat-cards-info">
                        <p class="stat-cards-info__num">@Model.Buses.Count()</p>
                        <p class="stat-cards-info__title">Total Buses</p>
                        <p class="stat-cards-info__progress">
                            <span class="stat-cards-info__profit success">
                                <i data-feather="trending-up" aria-hidden="true"></i>4.07%
                            </span>

                        </p>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-xl-3">
                <article class="stat-cards-item">
                    <div class="stat-cards-icon warning">
                        <i data-feather="file" aria-hidden="true"></i>
                    </div>
                    <div class="stat-cards-info">
                        <p class="stat-cards-info__num">@Model.Drivers.Count()</p>
                        <p class="stat-cards-info__title">Total Drivers</p>
                        <p class="stat-cards-info__progress">
                            <span class="stat-cards-info__profit success">
                                <i data-feather="trending-up" aria-hidden="true"></i>0.24%
                            </span>

                        </p>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-xl-3">
                <article class="stat-cards-item">
                    <div class="stat-cards-icon purple">
                        <i data-feather="file" aria-hidden="true"></i>
                    </div>
                    <div class="stat-cards-info">
                        <p class="stat-cards-info__num">@Model.Stations.Count()</p>
                        <p class="stat-cards-info__title">Total Stations</p>
                        <p class="stat-cards-info__progress">
                            <span class="stat-cards-info__profit danger">
                                <i data-feather="trending-down" aria-hidden="true"></i>1.64%
                            </span>

                        </p>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-xl-3">
                <article class="stat-cards-item">
                    <div class="stat-cards-icon success">
                        <i data-feather="feather" aria-hidden="true"></i>
                    </div>
                    <div class="stat-cards-info">
                        <p class="stat-cards-info__num">@Model.Trips.Count()</p>
                        <p class="stat-cards-info__title">Total Trips</p>
                        <p class="stat-cards-info__progress">
                            <span class="stat-cards-info__profit warning">
                                <i data-feather="trending-up" aria-hidden="true"></i>0.00%
                            </span>

                        </p>
                    </div>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="chart">
                    <canvas id="myChart" aria-label="Site statistics" role="img"></canvas>
                </div>
            </div>
            <div class="col-lg-3">
                <article class="customers-wrapper" style="background-color:white">
                    <canvas id="myChart2" aria-label="Site statistics" role="img"></canvas>
                </article>
                <article class="white-block">
                    <div class="top-cat-title">
                        <h3>Top categories</h3>
                        <p>28 Categories, 1400 Posts</p>
                    </div>
                    <ul class="top-cat-list">
                        <li>
                            <a href="##">
                                <div class="top-cat-list__title">
                                    Lifestyle <span>8.2k</span>
                                </div>
                                <div class="top-cat-list__subtitle">
                                    Dailiy lifestyle articles <span class="purple">+472</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="##">
                                <div class="top-cat-list__title">
                                    Tutorials <span>8.2k</span>
                                </div>
                                <div class="top-cat-list__subtitle">
                                    Coding tutorials <span class="blue">+472</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="##">
                                <div class="top-cat-list__title">
                                    Technology <span>8.2k</span>
                                </div>
                                <div class="top-cat-list__subtitle">
                                    Dailiy technology articles <span class="danger">+472</span>
                                </div>
                            </a>
                        </li>

                    </ul>
                </article>
            </div>
        </div>
    </div>
</main>
<script>


    document.getElementById("Dashboard").classList.add("active");
    document.getElementById("Bus").classList.remove("active");
    document.getElementById("Trip").classList.remove('active');
    document.getElementById("Driver").classList.remove("active");
    document.getElementById("Station").classList.remove("active");
    document.getElementById("PersonalData").classList.remove("active");
    document.getElementById("Password").classList.remove("active");
    var chartData = {
        labels: ['Buses', 'Drivers', 'Stations', 'Trips'],
        datasets: [{
            label: 'Differences',
            data: [@Model.Buses.Count(), @Model.Drivers.Count(), @Model.Stations.Count(), @Model.Trips.Count()]


        }]
    };


</script>

<!-- Chart library -->
<script src="~/assets3/plugins/chart.min.js"></script>
<!-- Icons library -->
<script src="~/assets3/plugins/feather.min.js"></script>
<!-- Custom scripts -->
<script src="~/assets3/js/script.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

